<footer class="footer">
    <div class="containerforfooter">
        <div class="footerrow">
            <div class="footer-col">
                <h4>Government</h4>
                <ul>
                    <li>REPUBLIC OF<br> THE PHILIPPINES 
                    </li>
                    <li> All content is in the public domain<br> unless otherwise stated.
                    </li>
                  
                   
                   
                </ul>
            </div>
            <div class="footer-col">
                <h4>Barangay 73</h4>
                <ul>
                    <li><a href="/barangay73caloocan-official-website">Home</a></li>
                    <li><a href="/barangay73caloocan-barangay-officials">Profile</a></li>
                    <li><a href="/barangay73caloocan-gallery">Gallery</a></li>
                    <li><a href="/barangay73caloocan-contact">Contact</a></li>
                   
                </ul>
            </div>
            <div class="footer-col">
                <h4>Government</h4>
                <ul>
                    <li><a href="https://sb.judiciary.gov.ph/?fbclid=IwAR3G-J9tEUuKl1-nLVsRCWlfMbW3RGNaq_yyvuE-qWOTv5cvLuZYAb8LhZA">SANDIGANBAYAN</a></li>
                    <li><a href="http://legacy.senate.gov.ph/?fbclid=IwAR1bHiPBBakd2eNalMoMhDNvmeAFKLUWJrIj1cUnVxCJVpFOUS-1diQBVkA">SENATE OF THE PHILIPPINES
                    </a></li>
                    <li><a href="https://www.congress.gov.ph/?fbclid=IwAR0ry03dc-JuSeDkqMeE5FjXQPQ_2cg5tXi-c933ZiUSktRXrcxpqkPqvus">HOUSE OF REPRESENTATIVE</a></li>
                    <li><a href="https://sc.judiciary.gov.ph/?fbclid=IwAR0A-O6Hu-aXI4s1i3IkIAdPx0uEAmlpfUcocuH-o5GtIRsXrzBBRhPb17c">SUPREME COURT</a></li>
                    <li><a href="https://ca2.judiciary.gov.ph/caws-war/?fbclid=IwAR3xYGoXViEk0A-ClgPt1IpeGa0LcmJ6EvEhIOaNul4slR9pafs_tXGeK6c">COURT OF APPEALS</a></li>
                   
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/marvin2022"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>


</body>
</html>