<%- include('partials/header'); -%> <%- include('partials/nav'); -%>
<div class="centers">
  <img src="/img/404.svg" alt="" />
  <div class="wra">
    <h1>Page Not Found</h1>
    <p class="message">The requested URL was not Found on this server.</p>

    <p class="copyRights">&copy; 2021 CaloocanBarangay73</p>
  </div>
</div>
<%-include('partials/footer'); -%>
