<%- include('partials/header'); -%> <%- include('partials/nav'); -%>
<section class="container">
  <div class="site-content">
    <div class="posts">
      <h1><%= news.category %></h1>
    </div>
  </div>
</section>

<%-include('partials/footer'); -%>
